@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./assets/bg.png) no-repeat fixed #181818;
  background-size: cover;
}
main{
  overflow: hidden;
}
.input {
  @apply px-3 py-1 my-2 outline-none w-full rounded-md bg-sky-900 accent-white
}

.label-input {
  @apply text-white font-semibold text-lg
}

.nav-links {
  @apply text-white text-lg font-sans
}
.bg-path{
  background: url(./assets/path.jpg)  no-repeat;
  background-size: cover;
  background-position: 0 100%;
}


.separator{
  position: relative;
  margin: -25px auto;
  width: 50px;
  transform: rotate(45deg);
  height: 50px;
  background: green;
}