@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
}

.input {
  @apply px-3 py-1 my-2 outline-none w-full rounded-md bg-sky-900 accent-white
}

.label-input {
  @apply text-white font-semibold text-lg
}

.nav-links {
  @apply text-white text-lg font-sans
}
.bg-path{
  background: url(./assets/path.jpg) no-repeat;
  background-size: cover;
  filter: drop-shadow(0 5px 10px #181818);
}